@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-fluid {
    margin: 0%;
    padding: 0%;
}

.row-padding {
    padding: 0 10px;
}

.w-100 {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.space {
    margin-bottom: 90px;
}

.textuppercase {
    text-transform: uppercase;
}

.list-unstyled {
    list-style: none;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.container {
    padding: 0px 40px;
}

.d-inline {
    display: inline;
}

.d-inlineblock {
    display: inline-block;
}


.d-flex {
    display: flex;
}

p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

.text-light {
    color: white;
}

.align-self-center {
    align-self: center;
}

.call-box img {
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.call-box:hover img {
    transform: scale(1.1);
}

.btn {
    transition: all .2s ease-in-out;
    border: 0px;
    font-size: 16px;
    padding: 15px 55px;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    margin-top: 15px;
    white-space: normal;
    font-weight: bold;
}

.btn-first {
    background-color: #018AE0;
}

.btn-first:hover {
    background-color: #1446A0;
}

.rounded {
    border-radius: 0.75rem;
}

.btn-second {
    background-color: #D61C62;
}

.btn-second:hover {
    background-color: #018AE0;
}

.py-90 {
    padding: 90px 0px;
}


/*==================================================== Navbar  =============================================*/


html {
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;
}



.header {
    display: flex;
    height: 90px;
    align-items: center;
    text-align: end;
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100%;
    justify-content: space-around;
    top: 0%;
}

.header .logo {
    height: 5rem;
    width: 15%;
}

.navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.navbar-link:hover {
    color: #0d6efd;

}

.navbar .navbar-list .navbar-link.active::before,
.navbar .navbar-list .navbar-link:hover ::before {
    transition: all .4s ease-in-out;
    margin-top: 0px;
    opacity: 0.4;
    z-index: 0;
}

.navbar .navbar-list .navbar-link::before {
    content: url(../img/favicon.ico);
    position: absolute;
    font-size: 40px;
    opacity: 0;
    z-index: 0;
    transform: rotate(-20deg);
}

.navbar-link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: black;
    transition: all 0.3s;
}


.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

/* ===========================================
  Responsive Codes 
  ======================================= */

/* 980px  */
@media (max-width: 980px) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }

    .header {
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 0%;
        justify-content: space-between;
    }

    .header-px {
        padding: 0px 40px;
    }

    .header .logo {
        width: 25%;
    }

    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}

/* Below 560px  */
@media (max-width: 35em) {
    .header {
        padding: 0 2.4rem;
    }

    .header .logo {
        width: 40%;
    }
}

/* ===========================================================  First sec  ===================================== */


.firstsec {
    margin-top: 60px;
    background: url(../img/firstsecpic.jpg);
    text-align: left;
    margin-bottom: 0px;
    height: 300px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4rem 0rem;
    background-size: cover;
}

.firstsec::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
    position: absolute;
    top: 0px;
}

.firsthed {
    position: absolute;
    max-width: 100%;
    text-align: left;
    margin-top: 70px;
}

.ms-80 {
    margin-left:80px;
}

.firsthed h1 {
    font-size: 6rem;
    line-height: 2rem;
    letter-spacing: 0.7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    font-weight: 900;
    padding: 10px;
    color: #ffffff;
    vertical-align: middle;
    content: ">";
}

.firsthed .breadcrumbs {
    padding: 2px 19px;
    margin-bottom: 30px;
    background-color: #D61C62;
    margin-top: 30px;
    position: absolute;
}

.firsthed .breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.firsthed .breadcrumbs li {
    display: inline-block;
    font-weight: 400;
    align-items: center;
    vertical-align: middle;
    font-size: 13px;
}

.breadcrumbs .active {
    color: #cecece;
}

.breadcrumbs a {
    color: #fff;
}


/* ===========================================================  Second Sec   ===================================== */

.about {
    background-image: url(../img/about-img.png);
    background-repeat: no-repeat;
    background-position: top right;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}

h5 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0px;
}

/* ===========================================================  Counter sec  ===================================== */

.counter {
    background-image: url(../img/counterbg.jpg);
    background-position: 85% center;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    box-shadow: inset 0 0 0 1000px rgba(41, 41, 41, 0.42);
}

.counter-div {
    border-radius: 20px;
    text-align: center;
}

.counter-div i {
    display: block;
    font-size: 50px;
    height: 100px;
    transition: all ease-in-out 0.2s;
    line-height: 100px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: #1446A0;
    margin-bottom: 20px;
}

.counter-div:hover i {
    transform: scale(1.2);
}

.counter-div .num {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    letter-spacing: 2px;
}

.counter-div .title {
    color: #fff;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin: 0;
}

/* ===========================================================  Abouts Sec  ===================================== */


h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7rem;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}

.aboutdiv span {
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}


.accordian {
    padding-left: 80px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.accordian::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #D61C62;
    left: 22px;
    z-index: -1;
}

.accordian .card .card-header i {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #D61C62;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    left: 4px;
}

.card {
    display: block;
    border: 0px;
    border-radius: 15px;
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordian .card-header {
    display: block;
}


.accordian .card-header {
    font-weight: 600;
    font-size: 19px;
    padding: 18px 0px;
    line-height: 1.3;
    color: #1446A0;
}

.accordian .card-header:hover {
    color: #D61C62;
}

.card-body {
    padding: 2rem;
    display: none;
}

/*open one card by default*/
.accordian .card:nth-child(1) .card-body {
    display: block;
}

/* ===========================================================  Features  ===================================== */


.heading h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.heading h2::after {
    content: url(../img/favicon.ico);
    font-family: "flaticon";
    font-size: 25px;
    transform: rotate(20deg);
    opacity: 0.5;
    display: block;
}

.feature-icon {
    margin-bottom: 30px;
}

.feature-icon i , .feature-icon span {
    transition: all 0.4s ease-in-out;
    text-align: center;
    background-color: #D61C62;
    width: 58px;
    font-size: 35px;
    padding: 14px 0px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.feature-icon:hover i {
    transform: scale(1.2);
    background-color: #018AE0;
}

.feature-icon:hover span {
    transform: scale(1.2);
    background-color: #018AE0;
}

.text-start{
    text-align: left;
}



/* ===========================================================  Sletter  ===================================== */


.overlay {
    box-shadow: inset 0 0 0 1000px rgba(41, 41, 41, 0.42);
}

.sletter {
    background-image: url(../img/newsletter.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.sletter h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    letter-spacing: 0.1ch;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-group {
    margin-top: 20px;
}

.input-group input {
    padding: 16px 14px;
    margin-right: 0px;
    width: 50%;
}

.input-group button {
    margin-left: -4px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.input-group .btn {
    padding: 16px 40px;
}


.pt-120{
    padding-top: 120px;
}

@media(max-width:992px){
    .pt-120{
        padding-top: 10px;
    } 
}


/* ===========================================================  Footer  ===================================== */


a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

.bg-light {
    background-color: #f4f4f4;
}

.footerbox {
    background-image: url(../img/pattern1.png);
    background-position: center bottom;
    padding: 70px 100px 50px 100px;
    background-repeat: repeat-x;
}

.p-0 {
    padding-left: 0%;
}

.imgdiv ul {
    margin-top: 20px;
    margin-left: 0px;
}

.social-list li a i {
    color: #0d6efd;
    padding-right: 25px;
    display: block;
    width: 34px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 18px;
}

.social-list li a {
    transition: all 0.2s ease-in-out;
}

.social-list li a:hover {
    transform: scale(1.2);
}

.social-list li a i:hover {
    color: #D61C62;
}

.paddingstart {
    padding-left: 60px;
}

hr.small-divider.left {
    margin-left: 0px;
}


hr.small-divider {
    content: ' ';
    display: block;
    width: 60px;
    margin: 10px auto;
    border: 1px solid #cecece;
}

.margin-btm10 {
    margin-bottom: 10px;
}

.margin-icon {
    margin-right: 8px;
}

.footer-info {
    font-size: 20px;
    padding-bottom: 5px;
    line-height: 1;
    font-weight: 700;
}

.footer-link ul li {
    font-size: 16px;
}


.footer-link p a {
    color: black;
    line-height: 30px;
    font-weight: 200;
}

.footer-link p a:hover {
    color: #D61C62;
}


.text-decoration-none {
    text-decoration: none;
}

hr {
    margin: 4rem 0 2rem 0;
    color: gray;
}

.credits p {
    font-weight: 700;
    color: #605e5e;
    font-size: 13px;
    margin-bottom: 0px;
    text-align: center;
}

.credits p a {
    color: #0d6efd;
}

.credits p a:hover {
    color: #D61C62;
}

@media(max-width:995px) {
    .paddingstart {
        padding-left: 10px !important;
    }
}


@media(max-width:577px) {
    .imgdiv img {
        width: 40%;
    }

    .imgdiv {
        text-align: center;
    }
}


/*                                                                       Break Point                         */


@media(min-width:992px) {

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .mt-0 {
        margin-top: 0%;
    }

    .text-lg-end {
        text-align: right!important;
    }
}

@media(min-width:768px) {

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .d-md-block {
        display: block;
    }

    .mt-20 {
        margin-top: 25px;
    }
}


@media (max-width: 768px) {

    /* For tablets: */
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-mt-10 {
        margin-top: 20px;
    }

    .d-none {
        display: none;
    }

    .mt-sm-20 {
        margin-top: 20px;
    }

    .order-sm-2 {
        order: 2;
    }

    .order-sm-1 {
        order: 1;
    }

    .product-title {
        padding-top: 0px;
    }

    .sm-center {
        margin: 20px auto 0px;
    }

    .container-s-0 {
        padding: 0px 10px;
    }

    .mt-sm-0 {
        margin-top: 0px;
    }

    .no-sm-bg {
        background-image: none;
    }

}

@media (max-width: 576px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .d-s-none {
        display: none;
    }

    .col-mt-10 {
        margin-top: 20px;
    }

    .paddingstart-0 {

        padding-left: 0px;

    }

    .mt-sm-0 {
        margin-top: 0%;
    }

    .mt-s-20 {
        margin-top: 20px;
    }

    .container-s-0 {
        padding: 0px 10px;
    }

    .footerbox-sm-0 {
        padding: 50px 10px 50px 10px;
    }

}


@media (max-width: 424px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .col-mt-10 {
        margin-top: 20px;
    }

    .paddingstart-0 {

        padding-left: 0px;

    }

    .mtt-20 {
        margin-top: 20px;
    }

}